.area {
	width: 1000px;
	height: 700px;
	background-color: white;
	position: relative;
	perspective: 3000px;
	perspective-origin: 100% 100%;
}

.cube {
	width: 400px;
	height: 400px;
	position: absolute;
	left: 300px;
	top: 150px;
	transform-style: preserve-3d;
	/*transform: rotateY(180deg);*/
}

.cube * {
	position: absolute;
}

.side {
	width: 400px;
	height: 400px;
	box-shadow: inset 0px 0px 40px rgba(80,80,80,0.8);
	font-family: arial;
	font-size: 40px;
	text-align: center;
	backface-visibility: hidden;
}

.front {
	transform: translateZ(200px);
}

.back {
	transform: translateZ(-200px) rotateY(180deg);
}

.top {
	transform: translateY(-200px) rotateX(90deg);
}

.bottom {
	transform: translateY(200px) rotateX(-90deg);
}

.left {
	transform: translateX(200px) rotateY(90deg)
}

.right {
	transform: translateX(-200px) rotateY(-90deg)
}