.clockArea {
	width: 272px;
	height: 473px;
}

.clock {
	position: relative;
	width: 554px;
	height: 945px;
	transform-origin: 0% 0%;
	transform: scale(.5);
}

.clock * {
	position: absolute;
}

.clockface {
	width: 369px;
	height: 369px;
	left: 92px;
	top: 90px;
}

.clockhand {
	left: 158px;
	top: 10px;
	transform-origin: 50% 176px;
	transition: all 1s linear;
}

/* Working clock at 100x speed, starting with page reload */

/* Commented out for JS movement

#hourhand {
	animation: spin 2160s linear infinite;
}

#minutehand {
	animation: spin 36s linear infinite;
}

#secondhand {
	animation: spin 0.6s linear infinite;
}

*/

.pendulus {
	left: 194px;
	top: 400px;
	animation-name: pendulus;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes pendulus {
    0% {transform-origin: 90px 0px; transform: rotate(-20deg);}
	100% {transform-origin: 90px 0px; transform: rotate(20deg);}
}

/* Äratus */

.alarm_time {
	width: 3em;
}