body {
	background-color: rgb(226, 219, 156);
	color: #ffffff;
	font-family: verdana;
}

h1,
h2,
h3 {
	color: rgb(255, 255, 255);
}

main, nav {
	margin: 10px;
}

section, nav {
	background-color: rgba(255,255,255,.5);
	padding: 10px;
}

nav {
	width: 400px;
	border-width: 5px;
	border-style: solid;
	border-color: white;
	box-sizing: border-box;/*content-box      border-box*/
}

section {
	background-image: url("../media/top_left_01_transparent.png"), url("../media/bottom_right_01_transparent.png");
	background-repeat: no-repeat;
	background-size: 50px;/*contain  cover*/
	background-position: top left, bottom right;
	width: 75%;
	border: 5px dotted white;
	background-origin: padding-box;/*content-box  padding-box    border-box*/
	/*background-clip: */
	margin-bottom: 10px;
	/*margin: 10px 20px;    vertikaalne   horisontaalne*/
	/*margin: 10px 20px 5px,   üleval    horisontaalne  all  */
	/*margin: 10px 20px 30px 40px;      üleval ...*/
	min-height: 400px;
	max-height: 800px;
	overflow: auto;/*visible   hidden  scroll   auto*/
}

.photoplace {
	width: 600px;
	height: 425px;
	padding: 0px;
	position: relative;
	display: inline-block;/*block  inline    inline-block*/
}

.bot_btn {
	width: 100px;
	bottom: 0px;
}

.right_btn {
	right: 0px;
}

.fadephoto {
	opacity: 0;
	transition: opacity 1s;
}

.photoplace * {
	position: absolute;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(34, 140, 159, 0.5);
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(226, 219, 156, 0.5);
}

.clockArea {
	width: 272px;
	height: 473px;
}

.clock {
	position: relative;
	width: 554px;
	height: 945px;
	transform-origin: 0% 0%;
	transform: scale(.5);
}

.clock * {
	position: absolute;
}

.clockface {
	width: 369px;
	height: 369px;
	left: 92px;
	top: 90px;
}

.clockhand {
	left: 158px;
	top: 10px;
	transform-origin: 50% 176px;
}

.pendulus {
	left: 194px;
	top: 400px;
	
}

