body {
	background-color: PowderBlue;
	color: #000000;
	font-family: verdana;
	background-image: url("../media/tunnitoo2/tlu_h200.png");
	background-repeat: no-repeat;/*repeat  no-repeat  repeat-x  repeat-x*/
	background-position: 1250px 300px;/*top center bottom   left  center  right*/
	background-attachment: fixed;/*scroll*/
	margin: 0px;
}

h1, h2, h3 {
	color: rgb(102,0,255);
}

main, nav {
	margin: 10px;
}

section, nav {
	background-color: rgba(255,255,255,.5);
	padding: 10px;
}

nav {
	width: 400px;
	border-width: 5px;
	border-style: solid;
	border-color: white;
	box-sizing: border-box;/*content-box      border-box*/
}

section {
	background-image: url("../media/tunnitoo2/top_left_01_transparent.png"), url("../media/tunnitoo2/bottom_right_01_transparent.png");
	background-repeat: no-repeat;
	background-size: 50px;/*contain  cover*/
	background-position: top left, bottom right;
	width: 75%;
	border: 5px dotted white;
	background-origin: padding-box;/*content-box  padding-box    border-box*/
	/*background-clip: */
	margin-bottom: 10px;
	/*margin: 10px 20px;    vertikaalne   horisontaalne*/
	/*margin: 10px 20px 5px,   üleval    horisontaalne  all  */
	/*margin: 10px 20px 30px 40px;      üleval ...*/
	min-height: 400px;
	max-height: 800px;
	overflow: auto;/*visible   hidden  scroll   auto*/
}

.tlu_logo {
	float: right;  /*right   none*/
	margin-left: 40px;
	transform: rotate(0deg) translate(0px,0px) scale(1.65) skew(0, 0deg);
	transform-origin: 100% 0%;/*left  center  right   top  center   bottom     0-100%   0-100%*/
	opacity: .7;
	transition-property: all; /*all*/
	transition-duration: 2s;
	transition-delay: 1s;
	transition-timing-function: ease-out;/*ease   linear   ease-in   ease-out   ease-in-out   cubic-bezier(x,x,x,x)*/
	/*transition: opacity 2s 3s;*/
}

.tlu_logo:hover {
	transform: scale(1);
	opacity: 1;
}

#stage {
	width: 960px;
	height: 540px;
	background-color: white;
	position: relative; /*static   relative   absolute    fixed*/
	/*left   right   top    bottom  */
	/*left: 100px;
	top: 100px;*/
	margin-bottom: 100px;
	overflow: hidden;
}

#stage * {
	position: absolute;
}

#windmill {
	width: 308px;
	height: 360px;
	left: 600px;
	top: -50px;
	transform: scale(.5);
}

#wm_body {
	bottom: 0px;
}

.wm_wing {
	animation: spin 3s linear infinite reverse;
}

#truck {
	width: 958px;
	height: 429px;
	transform-origin: left top;
	transform: scale(.2);
	top: 350px;
	left: 150px;
}

.truck_front_wheel {
	bottom: -45px;
	right: 5px;
}

.truck_rear_wheel {
	bottom: -45px;
	left: 85px;
}

.wheel {
	animation: spin 1s linear infinite;
}

.thing {
	width: 50px;
	height: 50px;
	background-color: green;
	animation-name: moving_thing;
	animation-duration: 4s;
	animation-timing-function: ease-in-out;/*ease   linear   ease-in   ease-out   ease-in-out   cubic-bezier(x,x,x,x)*/
	animation-delay: 1s;
	animation-iteration-count: 3;/*infinite*/
	animation-direction: alternate;/*normal   alternate   reverse  alternate-reverse*/
	animation-fill-mode: both;/*backwards   forwards    both*/
}

footer {
	width: 100%;
	background-color: white;
	position: fixed;
	bottom: 0px;
}

@keyframes moving_thing {
	0% {transform: translate(0px, 245px);}
	50% {transform: translate(455px, 0px);}
	100% {transform: translate(910px, 245px) scale(1,.5); background-color: red;}
}

@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}