body {
	background-color: rgb(226, 219, 156);
	color: #ffffff;
	font-family: verdana;
}

h1,
h2,
h3 {
	color: rgb(255, 255, 255);
}

.parent {
	position: relative;
	top: 0;
	left: 0;
}

.image1 {
	position: relative;
	top: 0;
	left: 0;
	height: 1000px;
	width: 1300px;
}

.image2 {
	position: absolute;
	height: 210px;
	width: 200px;
	top: 30px;
	left: 1000px;
}

.image3 {
	position: absolute;
	height: 70px;
	width: 140px;
	top: 50px;
	left: 300px;
}

.image4 {
	position: absolute;
	height: 430px;
	width: 400px;
	top: 500px;
	left: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(34, 140, 159, 0.5);
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgb(226, 219, 156, 0.5);
}